{{ ansible_managed | comment }}

[Unit]
Description=blackbox_exporter
Documentation=https://github.com/prometheus/blackbox_exporter
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable={{ blackbox_exporter_bin_directory }}/blackbox_exporter

[Service]
Restart=always
RestartSec=5
TimeoutSec=5
User={{ blackbox_exporter_system_user }}
Group={{ blackbox_exporter_system_group }}
ExecStart={{ blackbox_exporter_bin_directory }}/blackbox_exporter \
	--config.file={{ blackbox_exporter_config_directory }}/blackbox_exporter.yml \
	--web.config.file={{ blackbox_exporter_config_directory }}/web-config.yml \
	--web.external-url={{ blackbox_exporter_external_url }} \
	--web.listen-address={{ blackbox_exporter_listen_address }} \
{% if blackbox_exporter_extra_opts is defined and blackbox_exporter_extra_opts | length > 0 %}
{% for opt in blackbox_exporter_extra_opts %}
	{{ opt }} \
{% endfor %}
{% endif %}
	--log.level={{ blackbox_exporter_log_level }} \
	--log.format={{ blackbox_exporter_log_format }}
PrivateTmp=true
PrivateDevices=false
ProtectHome=true
ProtectSystem=full
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
