---
{{ ansible_managed | comment }}

{% if blackbox_exporter_web_configuration is defined and blackbox_exporter_web_configuration | length > 0 %}
{{ blackbox_exporter_web_configuration | to_nice_yaml(indent=2) }}
{% endif %}
